<!-- Config file for the game -->

<config>
  <app framerate_cap="30">
    <title>JungleMadness</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>Map/</folder>
    <collision red="841" pink="844" blue="843" green="842"/>
  </map>

  <scene>
    <scene_name name="Map_Beta.tmx"/>
    <scene_name name="Map_alpha.tmx"/>
    <firstcamera x ="0" y ="-800"/>
    <secondcamera x ="1000" y ="-800"/>
  </scene>

  <audio>
    
    <music>
      <folder>audio/music/</folder>
      <song name="Surreptitious.mp3"/>
      <song name="Su Turno.ogg"/>
      <VolumeChanger_music value="1"/>
    </music>
    
    <fx>
      <folder>audio/fx/</folder>
      <VolumeChanger_fx value="1"/>
    </fx>
    
  </audio>

  <entities>
    
    <player>
      <atributes>speed="2" jump_force="6"  </atributes>
      <folder>animations/player.tmx</folder>
      <texture>Sprites/Adventurer_fullx2.png</texture>
      <collider x="0" y="0" width="32" height="58"/>
      <velocity x="4.0" y="0.0"  max_speed_y="10.0" initalVx="4.0" jump_force="10.0"/>
      <gravity value="-1.0"/>
      <colliding_offset value="0" />
    </player>

    <snek>
    </snek>

    <bat>
    </bat>
    
  </entities>

</config>