<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>Map/</folder>
  </map>

  <scene>
    <scene_name name="Map_Beta.tmx"/>
    <scene_name name="Map_alpha.tmx"/>
  </scene>

  <audio>
    <music>
      <folder>audio/music/</folder>
      <song name="Surreptitious.mp3"/>
      <song name="Su Turno.ogg"/>
      <VolumeChanger_music value="1"/>
    </music>
    <fx>
      <folder>audio/fx/</folder>
      <VolumeChanger_fx value="1"/>
    </fx>
  </audio>

</config>